.add-todo-container{
 
  border:0px solid brown;
background-color: bisque;
  
  padding-inline: 0px;
  padding-block: 0px;
  border-radius: 0px;
  margin-top: 0px;
}

.add-todo-title-input{
  font-size: 18px;
  background-color: gray;
  padding-inline: 8px;
  padding-block: 8px;
  display: block;
  width: 500px;
  border-radius: 4px;
}

.add-todo-button{
  padding-inline:20px;
  padding-block: 12px;
  margin-top: 32px;
  border-radius: 4px;
  background: rgb(22, 22, 112);
  outline: none;
  border:none;
  color: aliceblue;
  cursor: pointer;
}

.add-todo-title{
  font-size:24px;
  margin-bottom:24px;
}

.add-todo-label{
  font-size:12px;
  color: rgb(123, 117, 117);
}
